@use '../../scss/page';
@use '../../scss//message';
@use '../../scss/status';

:host {
  @include page.set-host-header();
}

._search-fieldset {
  @include page.set-search-fieldset();
}

._page-navigation {
  @include page.set-navigation();
}

._error-message {
  @include message.layout-message();
}
