@use './material';

:host {
  @layer {
    & {
      --_load-color: var(--app-primary-color);
      --_warn-color: var(--app-warn-color);
    }
  }
}

._status-warning {
  font-weight: bold;
  color: var(--_warn-color);

  &::before {
    content: 'warning';
    @include material.set-symbol();
    font-size: inherit !important;
    transform: translateY(10%);
  }
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}

._status-loading {
  display: inline-block;
  width: 10ch;

  font-weight: bold;
  color: var(--_load-color);

  &::after {
    content: '';
    animation: dots 1.5s steps(1, end) infinite;
  }
}
