@use './common';

@mixin layout-data-form($label-width) {
  @layer {
    & {
      --_row-gap: var(--app-row-gap);
    }
  }

  display: inline-flex;
  flex-direction: column;
  row-gap: var(--_row-gap);

  & > label {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    & > b {
      width: $label-width;
      margin-right: 1ch;

      & + * {
        box-sizing: border-box;
        flex: 1 0 auto;
      }
    }
  }
}

@mixin layout-data-view {
  @layer {
    & {
      --_column-gap: var(--app-column-gap);
      --_row-gap: var(--app-row-gap);
    }
  }

  &:is(dl) {
    display: grid;
    align-items: baseline;
    grid-template-columns: auto 1fr;

    column-gap: var(--_column-gap);
    row-gap: var(--_row-gap);

    & > dt {
      font-weight: bold;
    }

    & > dd {
      margin-left: 0px;

      @layer {
        & {
          text-align: justify;
        }
      }
    }
  }
}

@mixin layout-data-list {
  @layer {
    & {
      --_font: var(--app-font);
      --_color: var(--app-on-surface-color);
      --_on-hover-background-color: var(--app-surface-container-color);
      --_font-size: var(--app-font-size);
      --_row-gap: var(--app-row-gap);
    }
  }

  &:is(ul) {
    @include common.layout-block();

    display: flex;
    flex-direction: column;
    align-items: stretch;

    row-gap: var(--_row-gap);

    & > li {
      @include common.layout-block();

      & > * {
        @include common.layout-block();

        padding: 0.5em 1ch;
        height: 100%;

        color: var(--_color);
        font-family: var(--_font);
        font-size: var(--_font-size);
        text-decoration: none;

        border: none;
        border-radius: 4px;

        &:hover:not(:is(:disabled, a:not([href]))) {
          background-color: var(--_on-hover-background-color);
        }

        &:is(:disabled, a:not([href])) {
          opacity: 0.25;
          cursor: not-allowed;
        }
      }
    }
  }
}
